<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New York Pizza</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="{{asset('assets/themes/nypizza-theme.min.css')}}" />
    <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}" /> {#loads assets such as css and js from public folder#}
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <!-- Start of main home page -->
    <div data-role="page" id="home">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content">
            <div class="width-960">
                <h1 class="main-ad" id="main-ad-new">NEW</h1>
                <h1 class="main-ad" id="main-ad-store">STORE</h1>
                <h1 class="main-ad" id="main-ad-now">NOW</h1>
                <h1 class="main-ad" id="main-ad-open">OPEN</h1>
            </div>            
        </div> 
        <div data-role="main" class="ui-content">
            <div class="width-960 ui-grid-a">
                <div class="ui-block-a">
                    <p id="address">
                        127 Delicious Street<br>
                        Tasty Town<br>
                        Waterford City<br>
                        Ireland<br>
                        <br>
                        <a href="tel:0035351875432">+353 51 875432</a>
                    </p>
                </div>
                <iframe class="ui-block-b" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78185.27297987707!2d-7.180868291784324!3d52.23812000037038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c6aa3dbbb39f%3A0x5c5394616bfdc1ac!2sWaterford+City%2C+Co.+Waterford!5e0!3m2!1sen!2sie!4v1553505960973" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>            
        </div>           
        {% include 'footer.html.twig' %}         
    </div><!-- /page one -->
           
    <!-- Start of register page -->
    <div data-role="page" id="register">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content width-720">
            <h1 class="red-heading">Register</h1>
            <form id="registerForm" method="post">
                <input type="text" id="reg-first-name" name="reg-first-name" placeholder="First Name" required>
                <input type="text" id="reg-last-name" name="reg-last-name" placeholder="Last Name" required>
                <input type="email" id="reg-email" name="reg-email" placeholder="Email" required>
                <input type="password" id="reg-password" name="reg-password" placeholder="Password" required>
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <legend>Account Type:</legend>
                    <input type="radio" name="account-type" id="customer" value="customer" checked="checked">
                    <label for="customer">Customer</label>
                    <input type="radio" name="account-type" id="driver" value="driver">
                    <label for="driver">Driver</label>
                    <input type="radio" name="account-type" id="manager" value="manager">
                    <label for="manager">Manager</label>
                </fieldset>
                <button class="ui-btn ui-corner-all ui-btn-inline" id="registerButton">Register</button>
            </form>               
        </div>            
        {% include 'footer.html.twig' %} 
    </div><!-- /register -->
    
    <div data-role="page" id="login">
        {% include 'header.html.twig' %}
        <div class="width-560">
            <h1 class="green-heading">Login</h1>
            <form id="loginForm" method="post">
                <input type="email" id="login-email" name="login-email" placeholder="Email" required>
                <input type="password" id="login-password" name="login-password" placeholder="Password" required>
                <button class="ui-btn ui-corner-all ui-btn-inline" id="loginButton">Login</button>
            </form>
        </div>        
        {% include 'footer.html.twig' %}
    </div><!-- /login -->

    <div data-role="page" id="menu">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content width-960">
            <h1 class="red-heading">Menu</h1>
            <h2 class="green-heading-small">Pizzas</h2>
            <div class="flex-container">                
                <!-- hawaiian pizza -->
                <div class="menu-item-container ui-block-a">
                    <h3 class="menu-item-heading">Hawaiian</h3>
                    <img class="pizza-img" src="{{asset('assets/images/hawaiian.jpg')}}" alt="Hawaiian Pizza Image">
                    <form id="hawaiian-pizza-form" method="post">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="hawaiian-pizza-size" id="hawaiian-pizza-s" value="S" checked="checked">
                            <label for="hawaiian-pizza-s">S &euro;5</label>
                            <input type="radio" name="hawaiian-pizza-size" id="hawaiian-pizza-m" value="M">
                            <label for="hawaiian-pizza-m">M &euro;10</label>
                            <input type="radio" name="hawaiian-pizza-size" id="hawaiian-pizza-l" value="L">
                            <label for="hawaiian-pizza-l">L &euro;11</label>
                        </fieldset>
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="hawaiian-pizza-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="hawaiian-pizza-qty" id="hawaiian-pizza-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="hawaiian-pizza-plus-button">+</button>
                        </div><button class="ui-button hawaiian-pizza-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /hawaiian pizza -->
                <!-- newyorker pizza -->
                <div class="menu-item-container ui-block-a">
                    <h3 class="menu-item-heading">New Yorker</h3>
                    <img class="pizza-img" src="{{asset('assets/images/newyorker.jpg')}}" alt="New Yorker Pizza Image">
                    <form id="newyorker-pizza-form" method="post">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="newyorker-pizza-size" id="newyorker-pizza-s" value="S" checked="checked">
                            <label for="newyorker-pizza-s">S &euro;5</label>
                            <input type="radio" name="newyorker-pizza-size" id="newyorker-pizza-m" value="M">
                            <label for="newyorker-pizza-m">M &euro;10</label>
                            <input type="radio" name="newyorker-pizza-size" id="newyorker-pizza-l" value="L">
                            <label for="newyorker-pizza-l">L &euro;11</label>
                        </fieldset>
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="newyorker-pizza-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="newyorker-pizza-qty" id="newyorker-pizza-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="newyorker-pizza-plus-button">+</button>
                        </div><button class="ui-button newyorker-pizza-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /newyorker pizza -->
                <!-- housespecial pizza -->
                <div class="menu-item-container ui-block-a">
                    <h3 class="menu-item-heading">House Special</h3>
                    <img class="pizza-img" src="{{asset('assets/images/housespecial.jpg')}}" alt="House Special Pizza Image">
                    <form id="housespecial-pizza-form" method="post">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="housespecial-pizza-size" id="housespecial-pizza-s" value="S" checked="checked">
                            <label for="housespecial-pizza-s">S &euro;5</label>
                            <input type="radio" name="housespecial-pizza-size" id="housespecial-pizza-m" value="M">
                            <label for="housespecial-pizza-m">M &euro;10</label>
                            <input type="radio" name="housespecial-pizza-size" id="housespecial-pizza-l" value="L">
                            <label for="housespecial-pizza-l">L &euro;11</label>
                        </fieldset>
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="housespecial-pizza-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="housespecial-pizza-qty" id="housespecial-pizza-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="housespecial-pizza-plus-button">+</button>
                        </div><button class="ui-button housespecial-pizza-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /housespecial pizza -->
                <!-- custom pizza -->
                <div class="menu-item-container ui-block-a">
                    <h3 class="menu-item-heading">Custom</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="Custom Pizza Image">
                    <form id="custom-pizza-form" method="post">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="custom-pizza-size" id="custom-pizza-s" value="S" checked="checked">
                            <label for="custom-pizza-s">S &euro;5</label>
                            <input type="radio" name="custom-pizza-size" id="custom-pizza-m" value="M">
                            <label for="custom-pizza-m">M &euro;10</label>
                            <input type="radio" name="custom-pizza-size" id="custom-pizza-l" value="L">
                            <label for="custom-pizza-l">L &euro;11</label>
                        </fieldset>
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="custom-pizza-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="custom-pizza-qty" id="custom-pizza-qty" value="1" data-enhance="false" readonly>
                            <button class="ui-button pizza-plus-button" id="custom-pizza-plus-button">+</button>
                        </div>
                        
                        <h3 class="menu-item-heading">Toppings +&euro;1 each</h3>
                        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                            <input type="checkbox" name="ham" id="ham">
                            <label for="ham">ham</label>
                            <input type="checkbox" name="chicken" id="chicken">
                            <label for="chicken">chicken</label>
                            <input type="checkbox" name="pepperoni" id="pepperoni">
                            <label for="pepperoni">pepperoni</label>
                            <input type="checkbox" name="sweetcorn" id="sweetcorn">
                            <label for="sweetcorn">sweetcorn</label>
                            <input type="checkbox" name="tomato" id="tomato">
                            <label for="tomato">tomato</label>
                            <input type="checkbox" name="peppers" id="peppers">
                            <label for="peppers">peppers</label>
                        </fieldset>
                        <button class="ui-button custom-pizza-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /custom pizza -->
            </div> <!-- /flex container --> 
            <h2 class="green-heading-small">Sides</h2>
            <div class="flex-container width-half">                
                <!-- potato wedges -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Potato Wedges</h3>
                    <img class="pizza-img" src="{{asset('assets/images/potato-wedges.jpg')}}" alt="Potato Wedges Image">
                    <h3 class="menu-item-heading">&euro;5</h3>
                    <form id="potato-wedges-form" method="post">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="potato-wedges-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="potato-wedges-qty" id="potato-wedges-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="potato-wedges-plus-button">+</button>
                        </div>
                        <button class="ui-button potato-wedges-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /potato wedges -->   
                <!-- garlic bread -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Garlic Bread</h3>
                    <img class="pizza-img" src="{{asset('assets/images/garlic-bread.jpeg')}}" alt="Garlic Bread Image">
                    <h3 class="menu-item-heading">&euro;5</h3>
                    <form id="garlic-bread-form" method="post">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="garlic-bread-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="garlic-bread-qty" id="garlic-bread-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="garlic-bread-plus-button">+</button>
                        </div>
                        <button class="ui-button garlic-breads-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /garlic bread -->              
            </div> <!-- /flex container -->    
            <h2 class="green-heading-small">Drinks - 330ml</h2>
            <div class="flex-container width-3-4">                
                <!-- coca-cola -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Coca-Cola</h3>
                    <img class="pizza-img" src="{{asset('assets/images/coca-cola.jpg')}}" alt="Coca-Cola Image">
                    <h3 class="menu-item-heading">&euro;1</h3>
                    <form id="coca-cola-form" method="post">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="coca-cola-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="coca-cola-qty" id="coca-cola-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="coca-cola-plus-button">+</button>
                        </div>
                        <button class="ui-button coca-cola-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /coca-cola -->  
                <!-- fanta -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Fanta</h3>
                    <img class="pizza-img" src="{{asset('assets/images/fanta.png')}}" alt="Fanta Image">
                    <h3 class="menu-item-heading">&euro;1</h3>
                    <form id="fanta-form" method="post">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="fanta-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="fanta-qty" id="fanta-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="fanta-plus-button">+</button>
                        </div>
                        <button class="ui-button fanta-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /fanta --> 
                <!-- sprite -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Sprite</h3>
                    <img class="pizza-img" src="{{asset('assets/images/sprite.jpg')}}" alt="Sprite Image">
                    <h3 class="menu-item-heading">&euro;1</h3>
                    <form id="sprite-form" method="post">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="sprite-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="sprite-qty" id="sprite-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="sprite-plus-button">+</button>
                        </div>
                        <button class="ui-button sprite-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /sprite -->                             
            </div> <!-- /flex container -->           
        </div><!-- /main --> 
        {% include 'footer.html.twig' %}
    </div><!-- /menu-->

    <div data-role="page" id="checkout">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content width-560">
        <h1 class="green-heading">Checkout</h1>
        {% if app.session.get('cart') is not null %}
            
            <h2 class="red-heading-small">Order</h2>
            <div class="checkout-flex-container">
                <h3 class="green-heading-tiny checkout-item">Item</h3>
                <h3 class="green-heading-tiny checkout-quantity">Quantity</h3>
            </div>
            <hr>
            {% set index = 0 %}
                {% for item in app.session.get('cart') %}                
                <form class="update-cart-form" method="post">
                    <div class="checkout-flex-container">
                        {% if item.name == "custom-pizza" %}
                        <p class="item-information-checkout ui-corner-all ui-shadow-inset checkout-item">
                            Custom Pizza, {{item.size}}
                            {% if item.ham == "true" %} , Ham {% endif %}
                            {% if item.chicken == "true" %} , Chicken {% endif %}
                            {% if item.pepperoni == "true" %} , Pepperoni {% endif %}
                            {% if item.sweetcorn == "true" %} , Sweetcorn {% endif %}
                            {% if item.tomato == "true" %} , Tomato {% endif %}
                            {% if item.peppers == "true" %} , Peppers {% endif %}
                        </p>                            
                        {% elseif item.name == "potato-wedges" or item.name == "garlic-bread" %}
                            <p class="item-information-checkout ui-corner-all ui-shadow-inset checkout-item">
                                {% if item.name == "potato-wedges" %}
                                Potato Wedges
                                {% elseif item.name == "garlic-bread" %}
                                Garlic Bread
                                {% endif %}
                            </p>                      
                        {% elseif item.name == "coca-cola" or item.name == "fanta" or item.name == "sprite" %}                        
                            <p class="item-information-checkout ui-corner-all ui-shadow-inset checkout-item">
                                {% if item.name == "coca-cola" %}
                                Coca-Cola
                                {% elseif item.name == "fanta" %}
                                Fanta
                                {% elseif item.name == "sprite" %}
                                Sprite
                                {% endif %}
                            </p>
                        {% elseif item.name == "hawaiian-pizza" or item.name == "newyorker-pizza" or item.name == "housespecial-pizza" %}                        
                            <p class="item-information-checkout ui-corner-all ui-shadow-inset checkout-item">
                                {% if item.name == "hawaiian-pizza" %}
                                Hawaiian
                                {% elseif item.name == "newyorker-pizza" %}
                                New Yorker
                                {% elseif item.name == "housespecial-pizza" %}
                                House Special
                                {% endif %}
                                , {{item.size}}
                            </p>
                        {% endif %}   
                        <!-- ensures no negative value is entered https://stackoverflow.com/questions/7372067/is-there-any-way-to-prevent-input-type-number-getting-negative-values-->
                        <input type="number" class="item-qty" min="0" value="{{item.qty}}" oninput="validity.valid||(value='');">  
                        
                    </div>
                    <button class="update-cart-button" data-inline="true">Update</button>                   
                <!-- updates index number by 1 for every item-->
                <input type="hidden" class="item-index" value={{index}}>                
                {% set index = index + 1 %} 
                
            </form>            
            {% endfor %} 
            <hr>
            <div class="checkout-flex-container">
                <h2 class="green-heading-small checkout-item">Total</h2>
                <h2 class="green-heading-small checkout-quantity">&euro;{{ app.session.get("cartTotal") }}</h2>
            </div>
            <hr>
            <form id="checkout-form" method="post">                        
                <input type="text" id="address-line1" name="address-line1" placeholder="Address Line 1" required>
                <input type="text" id="address-line2" name="address-line2" placeholder="Address Line 2" required>
                <input type="text" id="address-line3" name="address-line3" placeholder="Address Line 3">
                <!-- found at http://www.waterfordwebdesign.ie/alphabetical-list-32-counties-ireland/-->
                <label for="county">County</label>
                <select class="small-form-field" name="county" id="county" data-mini="true" required>
                        <option value="" disabled selected>Choose option</option>
                        <option value="antrim">Antrim</option>
                        <option value="armagh">Armagh</option>
                        <option value="carlow">Carlow</option>
                        <option value="cavan">Cavan</option>
                        <option value="clare">Clare</option>
                        <option value="cork">Cork</option>
                        <option value="derry">Derry</option>
                        <option value="donegal">Donegal</option>
                        <option value="down">Down</option>
                        <option value="dublin">Dublin</option>
                        <option value="fermanagh">Fermanagh</option>
                        <option value="galway">Galway</option>
                        <option value="kerry">Kerry</option>
                        <option value="kildare">Kildare</option>
                        <option value="kilkenny">Kilkenny</option>
                        <option value="laois">Laois</option>
                        <option value="leitrim">Leitrim</option>
                        <option value="limerick">Limerick</option>
                        <option value="longford">Longford</option>
                        <option value="louth">Louth</option>
                        <option value="mayo">Mayo</option>
                        <option value="meath">Meath</option>
                        <option value="monaghan">Monaghan</option>
                        <option value="offaly">Offaly</option>
                        <option value="roscommon">Roscommon</option>
                        <option value="sligo">Sligo</option>
                        <option value="tipperary">Tipperary</option>
                        <option value="tyrone">Tyrone</option>
                        <option value="waterford">Waterford</option>
                        <option value="westmeath">Westmeath</option>
                        <option value="wexford">Wexford</option>
                        <option value="wicklow">Wicklow</option>
                </select>
                <input class="small-form-field" type="text" id="eircode" name="eircode" placeholder="Eircode">
                <button class="ui-btn ui-corner-all ui-btn-inline" id="checkout-button" data-theme="b">Place Order</button>
            </form>                     
            {% else %}
            <p>Shopping cart is empty :(</p>
            {% endif %}
        </div> <!-- /main-->
        
        {% include 'footer.html.twig' %}
    </div><!-- /checkout-->

    <div data-role="page" id="driver">
        {% include 'header.html.twig' %}
        {% include 'footer.html.twig' %}
    </div><!-- /driver-->  

    <div data-role="page" id="manager">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content width-720">
            <h2 class="green-heading-small">Revenue Report</h2> 
            <div data-role="collapsible" data-theme="b" id="daily-report">
                <h4>Daily</h4>
                <form id="daily-form" method="post" onsubmit="getManagerReport(event, 'daily');">
                    <label for="daily-date">Select a Date</label> 
                    <input type="date" name="daily-date" id="daily-date" required>
                    <label for="daily-total-order">Total Orders</label>
                    <input type="text" name="daily-total-order" readonly id="daily-total-order">
                    <label for="daily-total-revenue">Total Revenue</label>
                    <input type="text" readonly id="daily-total-revenue">                                
                    <button data-inline="true" id="daily-update">Update</button>
                </form>                
            </div>
            <div data-role="collapsible" data-theme="b" id="weekly-report">
                <h4>Weekly</h4>
                <form id="weekly-form" method="post" onsubmit="getManagerReport(event, 'weekly');">
                    <label for="weekly-date">Select a Week</label> 
                    <input type="week" name="weekly-date" id="weekly-date">
                    <label for="weekly-total-order">Total Orders</label>
                    <input type="text" name="weekly-total-order" readonly id="weekly-total-order">
                    <label for="weekly-total-revenue">Total Revenue</label>
                    <input type="text" readonly id="weekly-total-revenue">                                
                    <button data-inline="true" id="weekly-update">Update</button>
                </form>                
            </div>
            <div data-role="collapsible" data-theme="b" id="monthly-report">
                <h4>Monthly</h4>
                <form id="monthly-form" method="post" onsubmit="getManagerReport(event, 'monthly');">
                    <label for="monthly-date">Select a Month</label> 
                    <input type="month" name="monthly-date" id="monthly-date">
                    <label for="monthly-total-order">Total Orders</label>
                    <input type="text" name="monthly-total-order" readonly id="monthly-total-order">
                    <label for="monthly-total-revenue">Total Revenue</label>
                    <input type="text" readonly id="monthly-total-revenue">                                
                    <button data-inline="true" id="monthly-update">Update</button>
                </form>                
            </div> 
            <h2 class="green-heading-small">Pending Orders</h2> 
            <div data-role="collapsible" data-theme="a" id="pending-orders">
                <h4>View</h4>
                
                <form id="pending-orders-form" method="post">
                    <button data-inline="true">Update</button>
                </form>
                <div class="pending-order-flex">
                    <h2 class="green-heading-small width-small">Order ID</h2>
                    <h2 class="green-heading-small width-medium">Address</h2>
                    <h2 class="green-heading-small width-medium">Order</h2>
                </div>
                <form class="cancel-order-form">
                    <div class="pending-order-flex pending-orders">
                        <p class="width-small">0051655</p>
                        <p class="width-medium">
                            Kilgrange, <br>
                            Grange Park Ave, <br>
                            Waterford
                        </p>
                        <p class="width-medium">
                            2 x Hawaiian Pizzas, M <br>
                            2 x New Yorker Pizzas, S <br>
                            4 x Classic Pizzas, M <br>
                            5 x Custom PIzzas, ham, chicken, tomato, sweetcorn, peppers, pepperoni <br>
                            2 x Fanta
                        </p>
                        <button data-inline="true" data-mini="true">X</button>
                    </div>
                </form>          
            </div>
                   
        </div>
        
        {% include 'footer.html.twig' %}
    </div><!-- /manager-->

    <div data-role="page" id="customer">
        {% include 'header.html.twig' %}
        {% include 'footer.html.twig' %}
    </div><!-- /customer-->

    <div data-role="page" id="checkout-complete">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content width-560">
            <h3 class="green-heading-small">Order successfully placed, you lucky human!</h3>
        </div>
        
        {% include 'footer.html.twig' %}
    </div><!-- /customer-->
    
    </body>
    
    <script> 
        
        $("#registerForm").submit(function() {
      
            let firstName = $("#reg-first-name").val();         
            let lastName = $("#reg-last-name").val();
            let email = $("#reg-email").val(); 
            let password = $("#reg-password").val();
            let accountType = $("input[name='account-type']:checked").val(); //get radio button value thats checked
            
            $.post( "/backend", { type:"register", firstName:firstName, lastName:lastName,
            email:email, password:password, accountType:accountType})
            .done(function(data) {
                if(data === "success") {
                    window.location = "/index#login";
                } else if(data === "error") {
                    alert("An unexpected error has occured");
                }
                
            });     
        });

        $("#loginForm").submit(function() {
            let email = $("#login-email").val(); 
            let password = $("#login-password").val();

            $.post( "/backend", { type:"login", email:email, password:password})
            .done(function(data) {
                console.log(data);
                switch(data) {
                    case "customer":
                        window.location = "/index#customer";
                        break;
                    case "driver":
                        window.location = "/index#driver";
                        break;  
                    case "manager":
                        window.location = "/index#manager";
                        break;  
                    case "error":
                        alert("Username or password incorrect");
                        break; 
                    default:
                        window.location = "/index#login";
                }
            });
        })

        //update item quantity for menu
        function updateItemQuantity(item) {
            //set jQuery selectors for each button from given parameter
            let minusButton = "#" + item + "-minus-button";
            let quantityInput = "#" + item + "-qty";
            let plusButton = "#" + item + "-plus-button";

            //convert string to int
            let qty = parseInt($(quantityInput).val());

            $(minusButton).click(function(event) {
                event.preventDefault(); 
                if(qty > 1) {
                    qty--;
                    $(quantityInput).val(qty);
                }                
            });

            $(plusButton).click(function(event) {                
                event.preventDefault();
                qty++;
                $(quantityInput).val(qty);                
            });            
        }
        //instantiates quantity updater for each menu item
        updateItemQuantity("hawaiian-pizza");
        updateItemQuantity("newyorker-pizza");
        updateItemQuantity("housespecial-pizza");
        updateItemQuantity("custom-pizza");
        updateItemQuantity("potato-wedges");
        updateItemQuantity("garlic-bread");
        updateItemQuantity("coca-cola");
        updateItemQuantity("fanta");
        updateItemQuantity("sprite"); 

        //send item data to backend to add to session
        function addItemToSession(item) {
            //create custom jQuery selectors from item variable
            let sizeSelector = "input[name='" + item + "-size']:checked";
            let qtySelector = "#" + item + "-qty";
            //set values of html elements
            let name = item;
            let total = 0;
            let size = $(sizeSelector).attr("value");
            if(size) {
                total += pizzaSizePrice(size);
            } else {
                if(item === "potato-wedges" || item === "garlic-bread") {
                    total += 5;
                } else {
                    total++;
                }
            }
            let qty = parseInt($(qtySelector).val());
            //send to backend
            $.post( "/backend", { type:"addItemToSession", name:name, size:size,
            qty:qty, total:total})
            .done(function(data) {
                console.log(data);
            });
        }

        //send item data to session function
        function addItemToCart(item) {
            let form = "#" + item + "-form";
            $(form).submit(function(event) {
                event.preventDefault();
                addItemToSession(item);
            });
        }
        //instantiates all items for session storage  
        addItemToCart("hawaiian-pizza");
        addItemToCart("newyorker-pizza");
        addItemToCart("housespecial-pizza");
        addItemToCart("potato-wedges");
        addItemToCart("garlic-bread");
        addItemToCart("coca-cola");
        addItemToCart("fanta");
        addItemToCart("sprite");  
        
        //send item data to backend to add to session
        function addCustomPizzaToSession() {
            //set values of html elements
            let total = 0;
            let name = "custom-pizza";
            let size = $("input[name='custom-pizza-size']:checked").attr("value");
            //add pizza price to total based on size
            total += pizzaSizePrice(size);
            let ham = $("#ham").is(":checked");            
            let chicken = $("#chicken").is(":checked");
            let pepperoni = $("#pepperoni").is(":checked");
            let sweetcorn = $("#sweetcorn").is(":checked");
            let tomato = $("#tomato").is(":checked");
            let peppers = $("#peppers").is(":checked");
            //update total if topping exist
            if(ham) {
                total++;
            }
            if(chicken) {
                total++;
            }
            if(pepperoni) {
                total++;
            }
            if(sweetcorn) {
                total++;
            }
            if(tomato) {
                total++;
            }
            if(peppers) {
                total++;
            }
            let qty = parseInt($("#custom-pizza-qty").val());
            //send to backend
            $.post( "/backend", { type:"addCustomPizzaToSession", name:name, size:size,
            ham:ham, chicken:chicken, pepperoni:pepperoni, sweetcorn:sweetcorn,
            tomato:tomato, peppers:peppers, qty:qty, total:total, size:size})
            .done(function(data) {
                console.log(data);
            });
        }

        //checks pizza size and return price to add to total
        function pizzaSizePrice(size) {
            switch(size) {
                case "S":
                    return 5;
                    break;
                case "M":
                    return 10;
                    break;
                case "L":
                    return 11;
                    break;
            }
        }
        //add custom pizza to session if submitted
        $("#custom-pizza-form").submit(function(event) {
            event.preventDefault();
            addCustomPizzaToSession();
        });

        //updates cart session to backend using qty and index
        $(".update-cart-form").submit(function(event) {
            event.preventDefault();
            let qty = parseInt($(this).find(".item-qty").val());
            let index = parseInt($(this).find(".item-index").val());
            console.log(qty);
            console.log(index);
            $.post( "/backend", { type:"updateCart", qty:qty, index:index})
            .done(function(data) {
                console.log(data);
                location.reload();
            });
        });
        
        //clear session on logout
        $("a[href='#logout']").click(function() {
            $.post("/backend", {type:"logout"})
            .done(function(data) {
                window.location = "/index";
                alert(data);
            });
        });

        $("#checkout-form").submit(function(event) {
            event.preventDefault();
            let addressLine1 = $("#address-line1").val();
            let addressLine2 = $("#address-line2").val();
            let addressLine3 = $("#address-line3").val();
            let county = $('#county').find(":selected").text();
            let eircode = $("#eircode").val();

            console.log(addressLine1);
            $.post("/backend", {type:"submitOrder", addressLine1:addressLine1,
            addressLine2:addressLine2, addressLine3:addressLine3,
            county:county, eircode:eircode})
            .done(function(data) {                
                window.location = "/index#checkout-complete";
                location.reload();
            });
        }) 

        //gets revenue information for each report by the dateType eg 'daily'
        function getManagerReport(event, dateType) {
            event.preventDefault();
            let date = $("#" + dateType + "-date").val();
            $.post("/backend", {type: dateType + "Update", date:date})
            .done(function(data) {
                console.log(data);                
                let dataArray = data.split(" ");
                let totalOrders = dataArray[0];
                let totalRevenue = dataArray[1];

                $("#" + dateType + "-total-order").val(totalOrders);
                $("#" + dateType + "-total-revenue").val(totalRevenue);
           });
        }
        
        $("#pending-orders-form").submit(function(evert) {
            event.preventDefault();
            $.post("/backend", {type: "getPendingOrders"})
            .done(function(data) {
                console.log(data);
            })
        });
            
        
    
    </script>
</html>
    
