<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New York Pizza</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="{{asset('assets/themes/my-theme.min.css')}}" />
    <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}" /> {#loads assets such as css and js from public folder#}
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <!-- Start of main home page -->
    <div data-role="page" id="home">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content">
            <div class="width-960">
                <h1 class="main-ad" id="main-ad-new">NEW</h1>
                <h1 class="main-ad" id="main-ad-store">STORE</h1>
                <h1 class="main-ad" id="main-ad-now">NOW</h1>
                <h1 class="main-ad" id="main-ad-open">OPEN</h1>
            </div>            
        </div> 
        <div data-role="main" class="ui-content">
            <div class="width-960 ui-grid-a">
                <div class="ui-block-a">
                    <p id="address">
                        127 Delicious Street<br>
                        Tasty Town<br>
                        Waterford City<br>
                        Ireland<br>
                        <br>
                        <a href="tel:0035351875432">+353 51 875432</a>
                    </p>
                </div>
                <iframe class="ui-block-b" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78185.27297987707!2d-7.180868291784324!3d52.23812000037038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c6aa3dbbb39f%3A0x5c5394616bfdc1ac!2sWaterford+City%2C+Co.+Waterford!5e0!3m2!1sen!2sie!4v1553505960973" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>            
        </div>           
        {% include 'footer.html.twig' %}         
    </div><!-- /page one -->
           
    <!-- Start of register page -->
    <div data-role="page" id="register">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content width-720">
            <h1 class="red-heading">Register</h1>
            <form id="registerForm">
                <input type="text" id="reg-first-name" name="reg-first-name" placeholder="First Name" required>
                <input type="text" id="reg-last-name" name="reg-last-name" placeholder="Last Name" required>
                <input type="email" id="reg-email" name="reg-email" placeholder="Email" required>
                <input type="password" id="reg-password" name="reg-password" placeholder="Password" required>
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <legend>Account Type:</legend>
                    <input type="radio" name="account-type" id="customer" value="customer" checked="checked">
                    <label for="customer">Customer</label>
                    <input type="radio" name="account-type" id="driver" value="driver">
                    <label for="driver">Driver</label>
                    <input type="radio" name="account-type" id="manager" value="manager">
                    <label for="manager">Manager</label>
                </fieldset>
                <button class="ui-btn ui-corner-all ui-btn-inline" id="registerButton">Register</button>
            </form>               
        </div>            
        {% include 'footer.html.twig' %} 
    </div><!-- /register -->
    
    <div data-role="page" id="login">
        {% include 'header.html.twig' %}
        <div class="width-560">
            <h1 class="green-heading">Login</h1>
            <form id="loginForm">
                <input type="email" id="login-email" name="login-email" placeholder="Email" required>
                <input type="password" id="login-password" name="login-password" placeholder="Password" required>
                <button class="ui-btn ui-corner-all ui-btn-inline" id="loginButton">Login</button>
            </form>
        </div>        
        {% include 'footer.html.twig' %}
    </div><!-- /login -->

    <div data-role="page" id="menu">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content width-960">
            <h1 class="red-heading">Menu</h1>
            <h2 class="green-heading-small">Pizzas</h2>
            <div class="flex-container">                
                <!-- hawaiian pizza -->
                <div class="menu-item-container ui-block-a">
                    <h3 class="menu-item-heading">Hawaiian</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="Hawaiian Pizza Image">
                    <form id="hawaiian-pizza-form">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="hawaiian-pizza-size" id="hawaiian-pizza-s" value="s" checked="checked">
                            <label for="hawaiian-pizza-s">S &euro;5</label>
                            <input type="radio" name="hawaiian-pizza-size" id="hawaiian-pizza-m" value="m">
                            <label for="hawaiian-pizza-m">M &euro;10</label>
                            <input type="radio" name="hawaiian-pizza-size" id="hawaiian-pizza-l" value="l">
                            <label for="hawaiian-pizza-l">L &euro;11</label>
                        </fieldset>
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="hawaiian-pizza-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="hawaiian-pizza-qty" id="hawaiian-pizza-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="hawaiian-pizza-plus-button">+</button>
                        </div><button class="ui-button hawaiian-pizza-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /hawaiian pizza -->
                <!-- newyorker pizza -->
                <div class="menu-item-container ui-block-a">
                    <h3 class="menu-item-heading">New Yorker</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="New Yorker Pizza Image">
                    <form id="newyorker-pizza-form">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="newyorker-pizza-size" id="newyorker-pizza-s" value="s" checked="checked">
                            <label for="newyorker-pizza-s">S &euro;5</label>
                            <input type="radio" name="newyorker-pizza-size" id="newyorker-pizza-m" value="m">
                            <label for="newyorker-pizza-m">M &euro;10</label>
                            <input type="radio" name="newyorker-pizza-size" id="newyorker-pizza-l" value="l">
                            <label for="newyorker-pizza-l">L &euro;11</label>
                        </fieldset>
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="newyorker-pizza-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="newyorker-pizza-qty" id="newyorker-pizza-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="newyorker-pizza-plus-button">+</button>
                        </div><button class="ui-button newyorker-pizza-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /newyorker pizza -->
                <!-- housespecial pizza -->
                <div class="menu-item-container ui-block-a">
                    <h3 class="menu-item-heading">House Special</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="House Special Pizza Image">
                    <form id="housespecial-pizza-form">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="housespecial-pizza-size" id="housespecial-pizza-s" value="s" checked="checked">
                            <label for="housespecial-pizza-s">S &euro;5</label>
                            <input type="radio" name="housespecial-pizza-size" id="housespecial-pizza-m" value="m">
                            <label for="housespecial-pizza-m">M &euro;10</label>
                            <input type="radio" name="housespecial-pizza-size" id="housespecial-pizza-l" value="l">
                            <label for="housespecial-pizza-l">L &euro;11</label>
                        </fieldset>
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="housespecial-pizza-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="housespecial-pizza-qty" id="housespecial-pizza-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="housespecial-pizza-plus-button">+</button>
                        </div><button class="ui-button housespecial-pizza-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /housespecial pizza -->
                <!-- custom pizza -->
                <div class="menu-item-container ui-block-a">
                    <h3 class="menu-item-heading">Custom</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="Custom Pizza Image">
                    <form id="custom-pizza-form">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="custom-pizza-size" id="custom-pizza-s" value="s" checked="checked">
                            <label for="custom-pizza-s">S &euro;5</label>
                            <input type="radio" name="custom-pizza-size" id="custom-pizza-m" value="m">
                            <label for="custom-pizza-m">M &euro;10</label>
                            <input type="radio" name="custom-pizza-size" id="custom-pizza-l" value="l">
                            <label for="custom-pizza-l">L &euro;11</label>
                        </fieldset>
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="custom-pizza-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="custom-pizza-qty" id="custom-pizza-qty" value="1" data-enhance="false" readonly>
                            <button class="ui-button pizza-plus-button" id="custom-pizza-plus-button">+</button>
                        </div>
                        
                        <h3 class="menu-item-heading">Toppings +&euro;1 each</h3>
                        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                            <input type="checkbox" name="ham" id="ham">
                            <label for="ham">ham</label>
                            <input type="checkbox" name="chicken" id="chicken">
                            <label for="chicken">chicken</label>
                            <input type="checkbox" name="pepperoni" id="pepperoni">
                            <label for="pepperoni">pepperoni</label>
                            <input type="checkbox" name="sweetcorn" id="sweetcorn">
                            <label for="sweetcorn">sweetcorn</label>
                            <input type="checkbox" name="tomato" id="tomato">
                            <label for="tomato">tomato</label>
                            <input type="checkbox" name="peppers" id="peppers">
                            <label for="peppers">peppers</label>
                        </fieldset>
                        <button class="ui-button custom-pizza-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /custom pizza -->
            </div> <!-- /flex container --> 
            <h2 class="green-heading-small">Sides</h2>
            <div class="flex-container width-half">                
                <!-- potato wedges -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Potato Wedges</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="Potato Wedges Image">
                    <h3 class="menu-item-heading">&euro;5</h3>
                    <form id="potato-wedges-form">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="potato-wedges-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="potato-wedges-qty" id="potato-wedges-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="potato-wedges-plus-button">+</button>
                        </div>
                        <button class="ui-button potato-wedges-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /potato wedges -->   
                <!-- garlic bread -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Garlic Bread</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="Garlic Bread Image">
                    <h3 class="menu-item-heading">&euro;5</h3>
                    <form id="garlic-bread-form">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="garlic-bread-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="garlic-bread-qty" id="garlic-bread-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="garlic-bread-plus-button">+</button>
                        </div>
                        <button class="ui-button garlic-breads-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /garlic bread -->              
            </div> <!-- /flex container -->    
            <h2 class="green-heading-small">Drinks - 330ml</h2>
            <div class="flex-container width-3-4">                
                <!-- coca-cola -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Coca-Cola</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="Coca-Cola Image">
                    <h3 class="menu-item-heading">&euro;1</h3>
                    <form id="coca-cola-form">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="coca-cola-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="coca-cola-qty" id="coca-cola-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="coca-cola-plus-button">+</button>
                        </div>
                        <button class="ui-button coca-cola-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /coca-cola -->  
                <!-- fanta -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Fanta</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="Fanta Image">
                    <h3 class="menu-item-heading">&euro;1</h3>
                    <form id="fanta-form">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="fanta-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="fanta-qty" id="fanta-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="fanta-plus-button">+</button>
                        </div>
                        <button class="ui-button fanta-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /fanta --> 
                <!-- sprite -->
                <div class="menu-item-container">
                    <h3 class="menu-item-heading">Sprite</h3>
                    <img class="pizza-img" src="{{asset('assets/images/custom.jpg')}}" alt="Sprite Image">
                    <h3 class="menu-item-heading">&euro;1</h3>
                    <form id="sprite-form">                        
                        <div class="quantity-flex-container">
                            <button class="pizza-minus-button" id="sprite-minus-button">-</button>
                            <input type="text" class="pizza-qty" name="sprite-qty" id="sprite-qty" value="1" readonly>
                            <button class="ui-button pizza-plus-button" id="sprite-plus-button">+</button>
                        </div>
                        <button class="ui-button sprite-add-button">Add to Cart</button>
                    </form>
                </div> <!-- /sprite -->                             
            </div> <!-- /flex container -->           
        </div><!-- /main --> 
        {% include 'footer.html.twig' %}
    </div><!-- /menu-->

    <div data-role="page" id="checkout">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content width-560">
            

            {% if app.session.get('cart') is not null %}
                <h1 class="green-heading">Checkout</h1>
                <h2 class="red-heading-small">Order</h2>
                <div class="checkout-flex-container">
                    <h3 class="green-heading-tiny checkout-item">Item</h3>
                    <h3 class="green-heading-tiny checkout-quantity">Quantity</h3>
                </div>
                <hr> 
                {% for item in app.session.get('cart') %}
                    <div class="checkout-flex-container">
                    {% if item.name == "custom-pizza" %}
                        <p class="item-information-checkout ui-corner-all ui-shadow-inset checkout-item">
                            Custom Pizza, {{item.size}}
                            {% if item.ham == "true" %} , Ham {% endif %}
                            {% if item.chicken == "true" %} , Chicken {% endif %}
                            {% if item.pepperoni == "true" %} , Pepperoni {% endif %}
                            {% if item.sweetcorn == "true" %} , Sweetcorn {% endif %}
                            {% if item.tomato == "true" %} , Tomato {% endif %}
                            {% if item.peppers == "true" %} , Peppers {% endif %}
                        </p>
                        <p class="item-information-checkout ui-corner-all ui-shadow-inset checkout-quantity">
                            {{item.qty}}
                        </p> 
                    {% elseif item.name == "potato-wedges" or item.name == "garlic-bread" %}
                        <p>Side</p>
                    {% else %}
                        <p>Menu Pizza</p>
                    {% endif %}
                    </div> 
                {% endfor %} 
                            
            {% else %}
            <p>Shopping cart is empty :(</p>
            {% endif %}
        </div> <!-- /main-->
        
        {% include 'footer.html.twig' %}
    </div><!-- /checkout-->

    <div data-role="page" id="driver">
        {% include 'header.html.twig' %}
        {% include 'footer.html.twig' %}
    </div><!-- /driver-->  

    <div data-role="page" id="manager">
        {% include 'header.html.twig' %}
        {% include 'footer.html.twig' %}
    </div><!-- /manager-->

    <div data-role="page" id="customer">
        {% include 'header.html.twig' %}
        {% include 'footer.html.twig' %}
    </div><!-- /customer-->
    
    </body>
    
    <script> 
        
        $("#registerForm").submit(function() {
      
            let firstName = $("#reg-first-name").val();         
            let lastName = $("#reg-last-name").val();
            let email = $("#reg-email").val(); 
            let password = $("#reg-password").val();
            let accountType = $("input[name='account-type']:checked").val(); //get radio button value thats checked
            
            $.post( "/backend", { type:"register", firstName:firstName, lastName:lastName,
            email:email, password:password, accountType:accountType})
            .done(function(data) {
                if(data === "success") {
                    window.location = "/index#login";
                } else if(data === "error") {
                    alert("An unexpected error has occured");
                }
                
            });     
        });

        $("#loginForm").submit(function() {
            let email = $("#login-email").val(); 
            let password = $("#login-password").val();

            $.post( "/backend", { type:"login", email:email, password:password})
            .done(function(data) {
                console.log(data);
                switch(data) {
                    case "customer":
                        window.location = "/index#customer";
                        break;
                    case "driver":
                        window.location = "/index#driver";
                        break;  
                    case "manager":
                        window.location = "/index#manager";
                        break;  
                    case "error":
                        alert("Username or password incorrect");
                        break; 
                    default:
                        window.location = "/index#login";
                }
            });
        })

        //update item quantity for menu
        function updateItemQuantity(item) {
            //set jQuery selectors for each button from given parameter
            let minusButton = "#" + item + "-minus-button";
            let quantityInput = "#" + item + "-qty";
            let plusButton = "#" + item + "-plus-button";

            //convert string to int
            let qty = parseInt($(quantityInput).val());

            $(minusButton).click(function(event) {
                event.preventDefault(); 
                if(qty > 1) {
                    qty--;
                    $(quantityInput).val(qty);
                }                
            });

            $(plusButton).click(function(event) {                
                event.preventDefault();
                qty++;
                $(quantityInput).val(qty);                
            });            
        }
        //instantiates quantity updater for each menu item
        updateItemQuantity("hawaiian-pizza");
        updateItemQuantity("newyorker-pizza");
        updateItemQuantity("housespecial-pizza");
        updateItemQuantity("custom-pizza");
        updateItemQuantity("potato-wedges");
        updateItemQuantity("garlic-bread");
        updateItemQuantity("coca-cola");
        updateItemQuantity("fanta");
        updateItemQuantity("sprite"); 

        //send item data to backend to add to session
        function addItemToSession(item) {
            //create custom jQuery selectors from item variable
            let sizeSelector = "input[name='" + item + "-size']:checked";
            let qtySelector = "#" + item + "-qty";
            //set values of html elements
            let name = item;
            let size = $(sizeSelector).attr("value");
            let qty = parseInt($(qtySelector).val());
            //send to backend
            $.post( "/backend", { type:"addItemToSession", name:name, size:size,
            qty:qty})
            .done(function(data) {
                console.log(data);
            });
        }

        //send item data to session function
        function addItemToCart(item) {
            let form = "#" + item + "-form";
            $(form).submit(function(event) {
                event.preventDefault();
                addItemToSession(item);
            });
        }
        //instantiates all items for session storage  
        addItemToCart("hawaiian-pizza");
        addItemToCart("newyorker-pizza");
        addItemToCart("housespecial-pizza");
        addItemToCart("potato-wedges");
        addItemToCart("garlic-bread");
        addItemToCart("coca-cola");
        addItemToCart("fanta");
        addItemToCart("sprite");  
        
        //send item data to backend to add to session
        function addCustomPizzaToSession() {
            //set values of html elements
            let name = "custom-pizza";
            console.log(name);
            let size = $("input[name='custom-pizza-size']:checked").attr("value");
            console.log(size);
            let ham = $("#ham").is(":checked");
            let chicken = $("#chicken").is(":checked");
            let pepperoni = $("#pepperoni").is(":checked");
            let sweetcorn = $("#sweetcorn").is(":checked");
            let tomato = $("#tomato").is(":checked");
            let peppers = $("#peppers").is(":checked");
            console.log(ham);
            let qty = parseInt($("#custom-pizza-qty").val());
            console.log(qty);
            //send to backend
            $.post( "/backend", { type:"addCustomPizzaToSession", name:name, size:size,
            ham:ham, chicken:chicken, pepperoni:pepperoni, sweetcorn:sweetcorn,
            tomato:tomato, peppers:peppers, qty:qty})
            .done(function(data) {
                console.log(data);
            });
        }
        //add custom pizza to session if submitted
        $("#custom-pizza-form").submit(function(event) {
            event.preventDefault();
            addCustomPizzaToSession();
        })
        
        //clear session on logout
        $("a[href='#logout']").click(function() {
            $.post("/backend", {type:"logout"})
            .done(function(data) {
                window.location = "index";
                alert(data);
            });
        });

        
    
    </script>
</html>
    
